# carpeta
backup/
__pycache__/
.env
.vscode
.ipynb_checkpoints
*/.ipynb_checkpoints/*
clases/pendientes.md
clases/audio_analisis(pendiente).ipynb

# Remove previous ipynb_checkpoints
# git rm -r .ipynb_checkpoints/

# End of https://www.gitignore.io/api/jupyternotebooks
